<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn Form</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <form action="/" class="container" method="post">
        <div class="word">
            <span class="letter">L</span>
            <span class="letter">O</span>
            <span class="letter">G</span>
            <span class="letter">I</span>
            <span class="letter">N</span>
        </div>
        <!-- Input fields -->
        <div class="main">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M320 312C386.3 312 440 258.3 440 192C440 125.7 386.3 72 320 72C253.7 72 200 125.7 200 192C200 258.3 253.7 312 320 312zM290.3 368C191.8 368 112 447.8 112 546.3C112 562.7 125.3 576 141.7 576L498.3 576C514.7 576 528 562.7 528 546.3C528 447.8 448.2 368 349.7 368L290.3 368z"/></svg>
            <h3>Username <input type="text" name="username" placeholder="Enter your username" required></h3><br>
            <h3>Password  <input type="password" name="password" placeholder="Enter your password" required></h3><br>
            <button value="submit" class="btn">Login</button><br>
            <p>Don't have any account? <button value="submit" class="btn"><a href="register" style="color: black;">Sign Up</a></button></p>
        </div>
    </form>
</body>
</html>