<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
     <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <form action="/register" method="post">
        <div class="main">
            <h2 style="margin-bottom: 20px;">Registration</h2>

            <!-- Full Name -->
            <div class="form-group">
                <label for="fullname">Full Name <span class="required">*</span></label>
                <input type="text" id="fullname" name="fullname" placeholder="Enter your fullname" required pattern="^[A-Za-z\s]+$" title="Please enter a valid name it can not start with number or special characters">
            </div>

            <!-- Username -->
            <div class="form-group">
                <label for="username">User Name <span class="required">*</span></label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required pattern="^[A-Za-z@0-9]{3,16}$" title="Please enter a valid username">
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email">Email <span class="required">*</span></label>
                <input type="email" name="email" id="email" placeholder="Enter your email" required>
            </div>

            <!-- phone -->
             <div class="form-group">
                <label for="phone">Phone <span class="required">*</span></label>
                <input type="tel" name="phone" id="phone" placeholder="Enter your number" required pattern="^[0-9]{10}+$" title="Phone number should be of 10 digits">
             </div>

            <!-- Password -->
            <div class="form-group">
                <label for="password">Password <span class="required">*</span></label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>

            <!-- Register Button -->
            <button type="submit" class="btn" style="color: white; margin-top: 15px;">Register</button>

            <!-- Back to Login Button -->
            <a href="/" class="btn back-btn">Back to Login</a>
        </div>
    </form>
</body>

</html>